/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	color: white;
	line-height: 2.2rem;
}

body {
	font-family: 'whitney';
}

svg {
	color: rgb(218, 218, 218);
	display: block;
}

#rotate {
	transform: rotateX(180deg);
}

/* general styles */

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}


/* header */

.navbar {
	height: 4rem; /* TODO: check the value */
	background-color: #255EE9; /* TODO: check the value */
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.navbar .container > * {
	display: flex;
	align-items: center;
}

.navbar .links a {
	color: white;
	text-decoration: none;
	margin-inline: 18px;
	font-size: 15px;
}

.links li:nth-child(1) {
	padding-left: 0px;
}

.links li:nth-child(5) {
	padding-right: 0px;
}

.links li:hover {
	background-color: rgb(35,39,42);
	border-radius: 50px;
}

.links a:hover {
	text-decoration: dashed;
}

.login {
	font-size: 15px;
}

#whitebutton {
	background-color: white;
	border-radius: 50px;
	padding: 8px 13px;
	margin-inline: 27.5px;
}

/*--- JUMBO ---*/

.jumbo .content {
	max-width: 800px;
	min-height: 250px;
	margin-inline: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	color: white;
	font-size: 20px;
}

.jumbo {
	padding-top: 3rem;
	padding-bottom: 4rem;
	background-size: cover;
	background-position: center;
	background-image: url(../img/jumbo.png);
}

.jumbo .content p {
	margin-top: 35px;
	margin-bottom: 20px;
	line-height: 1.6;
}

#app-download {
	background-color: white;
	border: 0px;
	padding: 13px 18px;
	border-radius: 50px;
	margin-right: 6px;
	font-size: 15px;
}

#app-browser {
	color: white;
	background-color: rgb(35,39,42);
	border: 0px;
	padding: 13px 18px;
	border-radius: 50px;
	margin-left: 6px;
	font-size: 15px;
}

/*--- MAIN ---*/

main section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.section-feature .container {
	display: flex;
	justify-content: center;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}

.section-feature .container h1 {
	font-size: 45px;
	margin-bottom: 30px;
}

.item1-margin {
	margin-top: 28px;
}

.item2-margin {
	margin-top: 15px;
}

.item3-margin {
	margin-top: 5px;
}

.section-feature .container p {
	font-size: 15px;
	margin-top: 15px;
	line-height: 1.6;
}

.image img {
	max-height: 400px;
}

.bkg-gray {
	background-color: rgb(218, 218, 218);
}

.section-feature .image {
	flex: 0 0 70%;
}

.section-feature .text {
	flex: 0 0 30%;
}

.section-full> * {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-full .container h1 {
	font-size: 45px;
	margin-bottom: 30px;
	text-align: center;
}

.section-full .container p {
	text-align: center;
	font-size: 15px;
	width: 90%;
}

#stars {
	height: 40px;
	margin-top: 20px;
	margin-bottom: -15px;
}

.section-full .container span {
	font-size: 25px;
}

#app-download-main {
	border: 0px;
	border-radius: 50px;
	background-color: #7289DA;
	color: white;
	padding: 10px 15px;
	margin-top: 30px;
	margin-bottom: 70px;
}

/* footer */

footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: rgb(35,39,42);
}

footer .footer-top {
	display: flex;
	gap: 2rem;
	margin-bottom: 1.3rem;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2rem;
	border-bottom: 1px solid #7289DA;
}

footer .column-socials {
	flex: 0 0 30%;
}

footer .column-links {
	flex: 0 0 15%;
}

#blue-title {
	font-size: 27px;
	margin-bottom: 10px;
	line-height: 2.8rem;
}

.blue {
	color: #7289DA;
}

#flag-ita {
	height: 16px;
	vertical-align: middle;
}

#p-ita {
	vertical-align: middle;
	font-size: 13px;
}

#icons {
	letter-spacing: 6px;
	font-size: 1.1rem;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}

#register {
	color: white;
	border: 0px;
	border-radius: 50px;
	background-color: #7289DA;
	padding: 10px 15px;
	font-size: 12px;
}